body{
    background-color: rgb(255, 255, 255);
}
header{
    text-align:center;
}

h1{
    font-size: 40px;
    text-align:center;
    font-family: arial;
}
main{
    font-size: 20px;
    font-family: arial;
    text-align: center;
}
.blink{
    animation: blink 0.5s infinite;
}
@keyframes blink {
    from {color:blue;}
    to { color:red;}
}
